html { height: 100%;}

body{ background-color: black;}

h1{ /*font-family: Arial; font-size: 24px;*/ color: white; }
h2{ /*font-family: Arial; font-size: 16px;*/ color: white; }
h3{ color: white; }
h2.black { color : black; }

p { /*font-family: Arial; font-size: 12px;*/ color: white; }
p.black { color: black; }

td{ /*font-family: Arial; font-size: 12px;*/ color: white; text-align: center; }
th{ background-color: #FFFF54; /*font-family: arial;*/ font-size: 12px; }

li { /*font-family: Arial; font-size: 12px;*/ color: white; }
form { /*font-family: Arial; font-size: 12px;*/ color: white; }
a{ /*font-family: Arial; font-weight:bold; font-size: 12px;*/ color: #DF2C0A; }

table.result { background-color:#484848;}


.container { padding-top: 10px; padding-bottom: 10px}
.nav { margin-left: 40px; margin-right: 40px}

#upload-btn {
display:none;
}
