<div class="container">
    <ul class="nav nav-tabs">
    {% for ss in serverList %}
      <li
          {%if ss == activeServer[0].name %}
          class="active"
          {% endif %}
          >
        <a href="./{{ ss }}">{{ ss }}</a>
      </li>
    {% endfor %}
    </ul>

    <div class="row-fluid" style="background-color:#FFFF54; margin-top:20px">
        <h4 style="margin-left:20px">{{ activeServer[0].name }}</h4>
        <div class="row-fluid" style="background-color:#484848;color:white">
            <div class="span5">
                <img src='{{ activeServer[0].image|safe }}'' width=100%>
            </div>
            <div class="span7">
                <div class="row-fluid">{{ activeServer[0].track }}</div>
                <div class="row-fluid">{{ activeServer[0].vclass }}</div>
                <div class="row-fluid">{{ activeServer[1].seshtype }}</div>
                <div class="row-fluid">{{ activeServer[1].seshstatus }}</div>
                <div class="row-fluid">{{ activeServer[1].driverlist }}</div>
                <div class="row-fluid">{{ activeServer[1].server|safe }}</div>
                {% for s in activeServer[1].details %}
                    <div class="row-fluid">{{ s|safe }}</div>
                {% endfor %}
            </div>
    </div>
</div>


