<div class="container">
<div class="span8 offset2">
    <ul class="nav nav-tabs">
    {% for server in serverList %}
        <li {% if server.Active %} class="active" {% endif %}><a href={{server.linkstring|safe}}>{{ server.name }}</a></li>
    {% endfor %}
    </ul>
{% for server in serverList %}
    {% if server.Active %}
    <div class="container span8">
        <div class="media well well-large" style="background-color:#ffff54">
            <a class="pull-right" href="#">
                  <img class="media-object" data-src="holder.js/128x128" alt="128x128" style="width: 128px; height: 128px;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACDUlEQVR4Xu2Yz6/BQBDHpxoEcfTjVBVx4yjEv+/EQdwa14pTE04OBO+92WSavqoXOuFp+u1JY3d29rvfmQ9r7Xa7L8rxY0EAOAAlgB6Q4x5IaIKgACgACoACoECOFQAGgUFgEBgEBnMMAfwZAgaBQWAQGAQGgcEcK6DG4Pl8ptlsRpfLxcjYarVoOBz+knSz2dB6vU78Lkn7V8S8d8YqAa7XK83ncyoUCjQej2m5XNIPVmkwGFC73TZrypjD4fCQAK+I+ZfBVQLwZlerFXU6Her1eonreJ5HQRAQn2qj0TDukHm1Ws0Ix2O2260RrlQqpYqZtopVAoi1y+UyHY9Hk0O32w3FkI06jkO+74cC8Dh2y36/p8lkQovFgqrVqhFDEzONCCoB5OSk7qMl0Gw2w/Lo9/vmVMUBnGi0zi3Loul0SpVKJXRDmphvF0BOS049+n46nW5sHRVAXMAuiTZObcxnRVA5IN4DJHnXdU3dc+OLP/V63Vhd5haLRVM+0jg1MZ/dPI9XCZDUsbmuxc6SkGxKHCDzGJ2j0cj0A/7Mwti2fUOWR2Km2bxagHgt83sUgfcEkN4RLx0phfjvgEdi/psAaRf+lHmqEviUTWjygAC4EcKNEG6EcCOk6aJZnwsKgAKgACgACmS9k2vyBwVAAVAAFAAFNF0063NBAVAAFAAFQIGsd3JN/qBA3inwDTUHcp+19ttaAAAAAElFTkSuQmCC">
            </a>
            <div class="media-body" style"margin-left:20px">
                <h4 class"media-heading">{{ server.track_name }} : {{ server.car_class_name }}</h4>
                {{ server.description }}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
</div>
