<div class="container">
    <!-- loop through the number of servers creating a number of blocks
        displaying the server status in each one -->
    {% for pair in pairs %}
        <div class="row-fluid">
            {% if pair|length > 1 %}
                <div class="span2"></div>
                {% for ss in pair %}
                    <div class="span4">
                        <table class="result table" width="100%" border="0">
                            <tr><th colspan='2'><h4>{{ ss.name }}</h4></th></tr>
                            <tr>
                                <td rowspan='{{ ss.total_rows }}' width="60%"><img src='{{ ss.image|safe }}'></td>
                                <td>{{ ss.track }}</td>
                            </tr>
                            <tr><td>{{ ss.vclass }}</td></tr>
                            <tr><td>{{ ss.seshtype }}</td></tr>
                            <tr><td>{{ ss.seshstatus }}</td></tr>
                            <tr><td>{{ ss.driverlist }}</td></tr>
                            <tr><td>{{ ss.server|safe }}</td></tr>
                            {% for s in ss.details %}
                                <tr><td>{{ s|safe }}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <div class="span4"></div>
                {% for ss in pair %}
                    <div class="span4">
                        <table class="result table" width="100%" border="0">
                            <tr><th colspan='2'><h4>{{ ss.name }}</h4></th></tr>
                            <tr>
                                <td rowspan='{{ ss.total_rows }}' width="60%"><img src='{{ ss.image|safe }}'></td>
                                <td>{{ ss.track }}</td>
                            </tr>
                            <tr><td>{{ ss.vclass }}</td></tr>
                            <tr><td>{{ ss.seshtype }}</td></tr>
                            <tr><td>{{ ss.seshstatus }}</td></tr>
                            <tr><td>{{ ss.driverlist }}</td></tr>
                            <tr><td>{{ ss.server|safe }}</td></tr>
                            {% for s in ss.details %}
                                <tr><td>{{ s|safe }}</td></tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>
